.board {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  text-shadow: 0px 0px 2px #000000;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

body {
  transition: 0.5s linear;
  background-color: rgba(255, 243, 79, 0.75);
}

/*chat */
.chat {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 400px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  overflow: hidden;
}

.chat__messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.chat__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
}

.chat__input {
  flex: 1;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.btn {
  border: none;
  background-color: #008080;
  color: white;
  cursor: pointer;
}

.chat__send {
  border-radius: 5px;
  padding: 5px;
  margin-left: 10px;
}

/*message*/
.system-message {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.sender-name {
  font-weight: bold;
}

.message-time {
  font-size: 12px;
  color: #777;
  margin-top: 5px;
}

/**/
main {
  display: flex;
  flex: 1;
  gap: 30px;
}

@media (max-width: 1000px) {
  main {
    flex-direction: column;
  }
}
section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board__row {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 0px;
}

.board__item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 30px;
  height: 30px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.01);
  border: 1px solid rgba(0, 0, 0, 0.01);
}

.board__item:focus {
  background-color: #008080;
}

.board__item-text {
  position: absolute;
  top: -25%;
  z-index: 5;
}

.current_position {
  background: rgb(148, 207, 255);
  background-repeat: no-repeat;
  background-image: url("https://raw.githubusercontent.com/simoneusz/game/524ac3b028dda457f83878b299b2fa93ccc55ac7/imgs/Knight.svg");
  background-position: center top;
  background-size: 25px 25px;
}

.aside {
  max-width: 900px;
  min-width: 600px;
}

.aside__content {
  background-color: #121212;
  color: #e8e8e8;
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 20px;
  border: 2px solid #1d1d1d;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  text-shadow: 0px 0px 2px #000000;
}

.navbar {
  display: flex;
}

.navbar__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex: 1;
}

.navbar__item {
  border-radius: 12px 12px 0px 0px;
  border: none;
  margin: 10px 0px 0px 0px;
  background-color: rgb(49, 49, 49);
  color: #fff;
  padding: 0px 30px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

/*MAP*/
.map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.map__row {
  display: flex;
}

.map__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.01);
  border: 1px solid rgba(0, 0, 0, 0.1);
  opacity: 0.85;
}

/*INVENTORY*/
.inventory {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inventory__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.inventory__container > div {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.item-slot {
  border: 1px solid rgb(49, 49, 49);
  position: relative;
  background-color: rgb(66, 66, 66);
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-slot:hover > .equipment__descriprion {
  display: block;
}

.item-slot > .equipment__descriprion {
  position: absolute;
  left: 50%;
}

.weapon {
  height: 150px;
  margin-top: -80px;
}

.ring, .amulet {
  width: 50px;
  height: 50px;
}

.inventory__bottom {
  display: flex;
  justify-content: center;
}

.belt {
  height: 50px;
}

.top {
  background-color: #ffe5e5;
  /* light pink */
}

.bottom {
  background-color: #d4f1e4;
  /* light green */
}

.left {
  background-color: #f3d3ff;
  /* light purple */
}

.right {
  background-color: #ffd6a5;
  /* light orange */
}

.main-d {
  background-color: #c3e8ff;
  /* light blue */
}

.not-main {
  background-color: #f8e9a1;
  /* light yellow */
}

/* Mixes */
.top.left.main {
  background-color: #ffc6dc;
  /* light pink + light purple + light blue */
}

.top.right.main {
  background-color: #ffe5b5;
  /* light pink + light orange + light blue */
}

.bottom.left.main {
  background-color: #a8e6cf;
  /* light green + light purple + light blue */
}

.bottom.right.main {
  background-color: #ffc300;
  /* light green + light orange */
}

.top.left.not-main {
  background-color: #e8d98f;
  /* light pink + light purple + light yellow */
}

.top.right.not-main {
  background-color: #fbe5c8;
  /* light pink + light orange + light yellow */
}

.bottom.left.not-main {
  background-color: #f0efdb;
  /* light green + light purple + light yellow */
}

.bottom.right.not-main {
  background-color: #d4af37;
  /* light green + light orange + light yellow */
}

/*Player*/
.player__info {
  display: flex;
  flex-direction: column;
}

.player__info-item {
  margin: 10px;
  padding: 10px;
  background-color: #1d1d1d;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.health__container,
.level__container {
  display: flex;
  align-items: center;
}

.bar {
  flex: 1;
}

.bar::-webkit-progress-value {
  background-color: #d32f2f;
  border-radius: 5px;
}

progress {
  -webkit-appearance: none;
}

::-webkit-progress-bar {
  border-radius: 5px;
}

.player__level-bar::-webkit-progress-value {
  background-color: #2f7bd3;
  border-radius: 5px;
}

.player__health,
.player__level {
  font-weight: bold;
  text-transform: uppercase;
}

.player__enemies-killed {
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
  text-shadow: none;
}

/*ITEM DESCTIPRION ON HOVER*/
.equipment__descriprion {
  display: none;
  position: absolute;
  left: 50%;
  z-index: 5;
}

.item {
  background-color: #121212;
  color: #e8e8e8;
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 20px;
  border: 2px solid #1d1d1d;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  text-shadow: 0px 0px 2px #000000;
}/*# sourceMappingURL=style.css.map */